* {
  margin: 0;
  padding: 0;
}

body {
  background: url(	https://i1.wallbox.ru/wallpapers/main/201551/bb3a5e16a013f20.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: arial;
}

.block_1 {
  background: white;
  border-radius: 23px;
  max-width: 500px;
  max-height: 160px;
  margin-top: 30vh;
  margin-left: 350px;
  padding: 100px;
  opacity: 0.3;
}
p {
  cursor: text;
}
.block_1 h1{
  justify-content: center;
  font-family: arial;
  opacity: 1;
}

.Tema {
  transition: 0.5s;
  background: white;
  border-radius: 23px;
  max-width: 200px;
  max-height: 160px;
  margin-top: 100px;
  margin-left: 500px;
  padding: 70px;
  opacity: 0.3;
}

.Tema:hover {
  opacity: 1;
  transform: scale(1.5);
}

.Tema h1{
  justify-content: center;
  font-family: arial;
  opacity: 1;
}

p {
  margin-top: 10px;
  justify-content: center;
  margin-left: 70px;
  margin-right: 70px;
}

.p {
  margin-top: 250px;
}

.img1 {
  margin-left: 350px;
  margin-top: 20vh;

}

img {
  cursor: none;
}

.p1 {
